<div class="row">
  <div class=" card card-body col-sm-4">
  <div class="card-title">Log In</div>
    <input type="text" class="form-control" placeholder="Enter Username or EmailId" />
    <div class="form-group">
     <input type="{{this.showPassword ? 'text':'password'}}" class="form-control" placeholder="Enter Password" />
  <div class="input-group-addon right">
     <a href="#" (click)="this.togglePasswordVisibility()" class="fa fa-eye"></a>
    </div>

</div>
    <button value="Log in" class="btn btn-success" >Log in </button><br/>
     <a href="#">Forgot Password?</a>
  </div>
</div>