button{
    margin-top:10px;
}

a{
    width:140px;
    cursor: pointer;
}

input {
    margin-top: 8px;
}

.fa .fa-eye{
        position:absolute;
        z-index:1000;
        top:30%;
        left:2%;
}

.fa-eye
{
     text-decoration: none !important;
}